.node rect {
  cursor: pointer;
  fill: #fff;
  fill-opacity: .5;
  #stroke: #3182bd;
  #stroke-width: 1.5px;
}

.selected {
  #font: 33px sans-serif;
  #font-weight: 900;
  fill: #DAA520; # GoldenRod
}
.fieldname text {
  font: 12px sans-serif;
  fill: #000;
}

.fieldvalue.link {
  font: 12px sans-serif;
  fill: #0000FF;
}
.fieldvalue {
  font: 12px sans-serif;
  fill: #000;
}

.node text {
  font: 12px sans-serif;
  #pointer-events: none;
}


path.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}